{% set template = config.get('@silexstarter-dashboard.config.template') %}
{% extends '@silexstarter-dashboard/'~ template ~'/index.twig' %}
{# Stylesheet Block #}
{% block stylesheet %}
    {{parent()}}

    {{ stylesheet([
        '@silexstarter-datatable/css/dataTables.bootstrap.css',
        '@silexstarter-datatable/css/responsive.bootstrap.min.css',
        '@silexstarter-usermanager/css/bootstrap-select.min.css',
    ]) }}
{% endblock %}

{% block breadcrumb %}
    <a href="{{url_for('admin.home')}}">Home</a> / <a href="#">Group</a>
{% endblock %}

{% block content %}
    <table class="table table-condensed table-striped" id="group_table" style="width: 100%">
        <thead>
            <tr>
                <th class="all">Name</th>
                <th class="desktop">Description</th>
                <th class="desktop text-center" style="width: 15%">Action</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td class="text-center" colspan="2">Data not loaded!</td>
            </tr>
        </tbody>
    </table>
{% endblock %}

{% block modal %}
    {{parent()}}
    {% include '@silexstarter-usermanager/group/modal.twig' %}
{% endblock %}

{# Javascript Block #}
{% block javascript %}
    {{parent()}}

    <script>
        var datatableUrl= '{{url_for('usermanager.group.datatable')}}';
        var datatableId = '#group_table';
        var formId      = '#group_form';
        var modalId     = '#group_modal';
        var createLabel = 'Add new group';
    </script>

    {{ javascript([
        '@silexstarter-datatable/js/jquery.dataTables.min.js',
        '@silexstarter-datatable/js/dataTables.bootstrap.min.js',
        '@silexstarter-datatable/js/dataTables.responsive.min.js',
        '@silexstarter-usermanager/js/bootstrap-select.min.js',
        '@silexstarter-usermanager/js/datatable.js'
    ]) }}

    {% if current_user.hasAnyAccess(['admin', 'usermanager.group.create']) %}
        {{ javascript('@silexstarter-usermanager/js/create.js') }}
    {% endif %}
{% endblock %}
