{% set template = config.get('@silexstarter-dashboard.config.template') %}
{% extends '@silexstarter-dashboard/'~ template ~'/index.twig' %}

{% block content %}

{% if success is not empty %}
<div class="row">
    <div class="col-md-12">
        <div class="alert alert-success">{{success}}</div>
    </div>
</div>
{% endif %}

{% if error is not empty %}
<div class="row">
    <div class="col-md-12">
        <div class="alert alert-danger">{{error}}</div>
    </div>
</div>
{% endif %}
<div class="row">
    <div class="col-md-10">
        <div class="box box-primary">
            <div class="box-header with-border">
                <h3 class="box-title">My Account Information</h3>
                <div class="clearfix"></div>
            </div>
            <div class="box-body">
                <form action="{{url_for('usermanager.update_account')}}" class="form-horizontal" id="user_form" method="post" enctype="multipart/form-data">
                    <div class="row">
                        <div class="col-md-7 col-md-offset-1">

                            <input type="hidden" id="_method" name="_method" value="POST">
                            <input type="hidden" id="id" name="id">
                            <div class="form-group">
                                <label for="email" class="col-md-4">Email</label>
                                <div class="col-md-8">
                                    {{userdata.email}}
                                </div>
                            </div>

                            <div class="form-group">
                                <label for="first_name" class="col-md-4">First Name</label>
                                <div class="col-md-8">
                                    <input id="first_name" name="first_name" type="text" class="form-control input-sm" value="{{userdata.first_name | default('')}}">
                                </div>
                            </div>

                            <div class="form-group">
                                <label for="last_name" class="col-md-4">Last Name</label>
                                <div class="col-md-8">
                                    <input id="last_name" name="last_name" type="text" class="form-control input-sm" value="{{userdata.last_name | default('')}}">
                                </div>
                            </div>

                            <div class="form-group">
                                <label for="password" class="col-md-4">Password</label>
                                <div class="col-md-8">
                                    <div class="input-group">
                                        <input type="password" name="password" id="password" class="form-control input-sm" >
                                        <span class="input-group-addon" data-toggle="tooltip" data-placement="bottom" title="Fill only when you want to change your password">
                                            <i class="fa fa-fw fa-info-circle"></i>
                                        </span>
                                    </div>
                                </div>
                            </div>

                            <div class="form-group">
                                <label for="confirm_password" class="col-md-4">Confirm Password</label>
                                <div class="col-md-8">
                                    <div class="input-group">
                                        <input id="confirm_password" name="confirm_password" type="password" class="form-control input-sm">
                                        <span class="input-group-addon" data-toggle="tooltip" data-placement="bottom" title="Re-type your password to avoid typo">
                                            <i class="fa fa-fw fa-info-circle"></i>
                                        </span>
                                    </div>
                                </div>
                            </div>

                            <div class="form-group">
                                <label for="group" class="col-md-4">Assigned Group</label>
                                <div class="col-md-8">
                                    {% for group in groups %}{{group.name}},{% else %} No group assigned{% endfor %}
                                </div>
                            </div>
                        </div>

                        <div class="col-md-2 col-md-offset-1">
                            <div class="hidden">
                                <input type="file" name="profile_pic" accept="image/*" id="profile_pic">
                            </div>
                            <div style="border:solid 1px #ddd; width: 100%; height: 120px; cursor: pointer; text-align:center" id="profile-pic-container">
                                <img src="
                                        {% if userdata.profile_pic %}
                                            {{ asset('img/profile/' ~ userdata.profile_pic) }}
                                        {% else %}
                                            {{ asset('@silexstarter-dashboard/img/avatar.jpg') }}
                                        {% endif %}
                                    "
                                    alt="" id="profile-pic-preview" style="width: 120px; height:120px">

                                Click to change picture
                            </div>
                        </div>
                    </div>
                    <div class="form-group">
                        <div class="col-md-12">
                            <button id="btn-save" class="btn btn-sm btn-primary pull-right">Save</button>
                            <a href="{{url_for('admin.home')}}" class="btn btn-sm btn-danger pull-right" style="margin-right: 5px" data-dismiss="modal">Cancel</a>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>
{% endblock %}

{% block javascript %}
    {{ parent() }}

    <script>
    $('#profile-pic-container').click(function(e){
        $('#profile_pic').click();
    });

    $('#profile_pic').change(function(){
        var reader  = new FileReader();
        var preview = $('#profile-pic-preview');
        var file    = this.files[0];

        reader.onloadend = function () {
            preview.attr('src', reader.result);
        }

        if (file) {
            reader.readAsDataURL(file);
        } else {
            preview.attr('src', '');
        }
    });
    </script>
{% endblock %}
