{% set template = config.get('@silexstarter-dashboard.config.template') %}
{% extends '@silexstarter-dashboard/'~ template ~'/index.twig' %}

{# Stylesheet Block #}
{% block stylesheet %}
    {{parent()}}

    {{ stylesheet([
        '@silexstarter-datatable/css/dataTables.bootstrap.css',
        '@silexstarter-datatable/css/responsive.bootstrap.min.css',
    ]) }}
{% endblock %}

{# Content Block #}
{% block content %}
    <a href="{{ url_for('silexstarter-usermanager.company.create') }}" class="btn btn-sm btn-primary btn-block-sm" id="btn-company-create">
        <i class="fa fa-fw fa-plus"></i>
        Create New Company
    </a>
    <table class="table table-condensed table-striped" id="company_table" style="width: 100%">
        <thead>
            <tr>
                {#<th class="all">id</th>#}
                <th class="desktop">&nbsp;</th>
                <th class="all">Company Name</th>
                <th class="desktop">Address</th>
                {#<th class="desktop">state</th>#}
                <th class="desktop">Country</th>
                <th class="all">Phone</th>
                {#<th class="desktop">fax</th>#}

                <th class="desktop text-center" style="width: 15%">Action</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td class="text-center" colspan="9">Data not loaded!</td>
            </tr>
        </tbody>
    </table>
{% endblock %}

{# Modal Block #}
{% block modal %}
    {{parent()}}
    {% include '@silexstarter-usermanager/company/form-modal.twig' %}
    {% include '@silexstarter-usermanager/company/show-modal.twig' %}
{% endblock %}

{# Javascript Block #}
{% block javascript %}
    <script>
        var datatableUrl = '{{ url_for('usermanager.company.datatable') }}';
        var actionUrl = '{{ url_for('usermanager.company.store') }}'
    </script>
    {{parent()}}

    {{ javascript([
        '@silexstarter-datatable/js/jquery.dataTables.min.js',
        '@silexstarter-datatable/js/dataTables.bootstrap.min.js',
        '@silexstarter-datatable/js/dataTables.responsive.min.js',
        '@silexstarter-usermanager/js/company_datatable.js'
    ]) }}
{% endblock %}
