{% set template = config.get('@silexstarter-dashboard.config.template') %}
{% extends '@silexstarter-dashboard/'~ template ~'/index.twig' %}

{# Stylesheet Block #}
{% block stylesheet %}
    {{parent()}}

    {{ stylesheet([
        '@silexstarter-datatable/css/dataTables.bootstrap.css',
        '@silexstarter-datatable/css/responsive.bootstrap.min.css',
    ]) }}
{% endblock %}

{% block breadcrumb %}
    <a href="{{url_for('admin.home')}}">Home</a> / <a href="#">Permission</a>
{% endblock %}

{# Content Block #}
{% block content %}
    <div class="row">
        <div class="col-md-12">
            <div class="alert alert-danger">
                <p>
                    This permissions list only acts as reference and will not affect to existing users and groups,
                    deleting, creating, or modifying permissions will only affect on future user or group change and
                    may causing some feature inaccessible due to missing required permissions.
                </p>
            </div>
        </div>
    </div>
    <table class="table table-condensed table-striped" id="permission_table" style="width: 100%">
        <thead>
            <tr>
                <th class="all" style="width: 25%">Permission</th>
                <th class="all" style="width: 20%">Category</th>
                <th class="desktop" style="width: 40%">Description</th>
                <th class="desktop text-center">Action</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td class="text-center" colspan="3">Data not loaded!</td>
            </tr>
        </tbody>
    </table>
{% endblock %}

{# Modal Block #}
{% block modal %}
    {{parent()}}
    {% include '@silexstarter-usermanager/permission/modal.twig' %}
{% endblock %}

{# Javascript Block #}
{% block javascript %}
    {{parent()}}

    <script>
        var datatableUrl= '{{url_for('usermanager.permission.datatable')}}';
        var datatableId = '#permission_table';
        var formId      = '#permission_form';
        var modalId     = '#permission_modal';
        var createLabel = 'Add new permission';
    </script>

    {{ javascript([
        '@silexstarter-datatable/js/jquery.dataTables.min.js',
        '@silexstarter-datatable/js/dataTables.bootstrap.min.js',
        '@silexstarter-datatable/js/dataTables.responsive.min.js',
        '@silexstarter-usermanager/js/bootstrap-select.min.js',
        '@silexstarter-usermanager/js/datatable.js'
    ]) }}

    {% if user.hasAnyAccess(['admin', 'usermanager.permission.create']) %}
        {{ javascript('@silexstarter-usermanager/js/create.js') }}
    {% endif %}
{% endblock %}

